#backtop {
  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 80px;
  height: 80px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  border: 3px solid red;
  border-radius: 50px;
  transition: 1s;
}

a {
  color: black;
}

#backtop.backtop-show {
}
